body {
    /* position: absolute; */
    /* width: 100%; */
    /* display: flex; */
    /* height: 100vh; */
    /* height: 100vh; */
    /* top: 0; */
    /* font-family: Rozha One, serif; */
    font-size: calc(15px + 0.390625vw);
    /* overflow: hidden; */
}



.tnails_small {
    width: 65%;
    height: 75vh;
    padding-left: 2rem;
    /* flex-wrap: wrap; */
    display: flex;
    /* flex-direction: column; */
    /* float: right; */
    /* max-height: 100vh; */
}

.tnails_small img {
    height: auto;
    width: auto;
    max-height: 20%;
    max-width: 90%;
    margin: 1rem;
    border: 5px solid black;

}

.tnails_small .col {
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    /* height: 90vh; */

    /* padding-left: 4em; */
    /* float: right; */
}

/* .tnails {
    display: flex;
    width: 70%;
    height: 95vh;

    /* justify-content: space-evenly; */
/* flex-wrap: wrap; */

/* } */

/* .tnails .mySlides>img {
    /* .mySlides { */
/* height: auto;
width: auto;
max-height: 20%;
max-width: 90%;
margin: 1em;
border: 5px solid black; */
/* */
/* } */

/* display: grid; */
/* display: flex; */
/* width: 40%; */
/* justify-content: space-evenly; */
/* max-height: 40%; */
/* max-width: 40%; */
/* padding: 10em; 
} */

/* .tnails .mySlides {
    height: auto;
    width: auto;
    max-height: 20%;
    max-width: 50%;
    margin: 1em;
    border: 5px solid black;
} */

/* .tnails .a {
    .img {
        display: flex;
        height: auto;
        width: auto;
    }
} */

/* Slideshow container */
.tnails {
    display: flex;
    width: 70%;
    height: 580px;
    /* box-sizing: border-box; */
    /* max-width: 50%; */
    position: relative;
    /* margin: auto; */
}

/* Hide the images by default */
.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0 0.5rem;

}

.slide:first-child {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    background-color: white;
    color: rgb(248, 54, 219);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, */
/* .next:hover { */
/* background-color: rgba(0, 0, 0, 0.8); */
/* } */

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 5px 12px;
    position: absolute;
    /* bottom: -8px; */
    width: 100%;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */

/* .active,
.dot:hover {
    background-color: #717171;
} */

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

/* @keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */


.sidebar {
    /* float: left; */
    width: 35%;
    /* height: 100vh; */
    /* display: flex; */
    /* width: 100%; */
    flex-direction: column;
    padding-right: 2%;
    flex-wrap: nowrap;

    background-color: white;

    /* justify-content: space-around; */
    /* height: auto; */
    /* max-height: 100vh; */
    /* font-size: 100%; */
}

.body h1 {
    font-family: Rozha One, serif;
    font-size: 1.8rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: magenta;
    display: flex;
    /* margin-top: 0; */
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar a {
    /* font-size: 1cap; */
    color: aqua;
    /* flex-wrap: nowrap; */
}

.landing_group .sidebar {
    /* height: 100%; */


}

body .landing_group {
    display: flex;
    /* position: relative; */
    height: 100vh;
    /* width: 100%; */
    /* align-items: flex-start; */
    /* padding-bottom: 1em; */
    /* justify-content: space-between; */
    /* display: inline-block; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* margin: 20px; */
    /* flex-direction: row; */
    color: white;
    /* background-color: rebeccapurple; */
}

.landing {
    width: 100%;
    /* display: block; */
}

.landing img {
    width: calc(100vw - 35%);
    float: right;
    /* position: absolute; */
    /* object-fit: fill; */
    /* height: 100%; */
    /* color: aqua;} */
}

ul li {

    /* margin-bottom: 3px; */
    /* list-style-type: none; */
    text-decoration: none;

}


/* ul li {
    h2 {
        font-size: 1.5rem;
    }
} */

/* .macrame a:hover { */
/* opacity: 0; */
/* background-color: yellow; */
/* } */




.indivpic {
    display: flex
}

.indivpic img {
    float: right;
    justify-content: space-around;
    display: flex;
    width: 30%;
    height: 40%;
}

a {
    color: black;
    text-decoration: none;
}

.bio p {
    width: 60%;
    /* font-size: 75%; */
    display: flex;
    color: green;
    justify-content: center;
    /* margin-top: 3rem; */
    padding-top: 3rem;

    /* align-content: center; */

}

@media (max-width: 300px) {
    .body {
        /* font-size: calc(10px + 0.390625vw); */
    }

    .sidebar li {
        /* padding-left: 0rem; */
        font-size: 0.5rem;
    }

    .landing_group>.sidebar {
        /* position: fixed; */
        overflow: scroll;
        /* height: 100vh; */
        width: 75%;
        display: flex;
        /*  */
    }

    .landing>img {
        /* width: 65%; */
        /* display: flex; */
    }
}

@media (max-width: 450px) {

    .landing {
        display: flex;
    }

    .landing img {
        /* width: 100%; */
        /* height: auto; */
        object-fit: fill;
    }

    .sidebar>ul {

        padding: 0 20px;
        /* font-size: 0.75rem; */
        /* height: 60vh; */
        /* max-width: 100%; */
    }

    .sidebar li {
        font-size: 1.0rem;
    }

    .sidebar a {
        /* font-size: 1rem; */
        width: 60%;
    }

    .landing_group h1 {
        font-size: 1.4rem;
    }

    h1 {
        &>a {
            font-size: 1.4rem;
            color: rgb(201, 22, 177);
            padding-left: 0.75rem;
        }
    }

    .main .sidebar {

        width: 25%;
        max-height: 100vh;

    }

    .main .tnails_small {
        width: 65%;
        /* height: 60vh; */
        padding-left: 2rem;
        /* padding-bottom: -1rem; */
        /* flex-wrap: wrap; */
        display: flex;
        /* flex-direction: column; */
        /* float: right; */
        /* max-height: 100vh; */
    }

}

@media (max-width: 768px) {


    .sidebar>ul {

        padding: 0 20px;
        /* font-size: 0.75rem; */
        /* height: 60vh; */
        /* max-width: 100%; */
    }

    .sidebar li {
        font-size: 1.0rem;
    }

    .sidebar a {
        /* font-size: 1rem; */
        width: 60%;
    }

    .landing_group h1 {
        font-size: 1.3rem;
    }

    h1 {
        &>a {
            font-size: 1.4rem;
            color: rgb(201, 22, 177);
            padding-left: 0.75rem;
        }
    }

    .sidebar h1 {
        font-family: Rozha One, serif;
        font-size: 1.3rem;
        margin-bottom: 0rem;
        margin-left: 0.5rem;
        color: magenta;
        display: flex;
    }

    .main .sidebar {

        width: 25%;
        max-height: 100vh;

    }

    .main .tnails_small {
        width: 65%;
        /* height: 60vh; */
        padding-left: 2rem;
        /* padding-bottom: -1rem; */
        /* flex-wrap: wrap; */
        display: flex;
        /* flex-direction: column; */
        /* float: right; */
        /* max-height: 100vh; */
    }




    .landing_group .sidebar {
        object-fit: contain;
    }

    .landing_group {
        /* width: 75%; */
        /* display: flex; */
        align-items: start;
    }

    .landing {
        background-color: magenta;
        height: 100vh;
        align-items: start;
        padding: 3px;
    }

    .landing img {

        /* float: top; */
        /* width: 100%; */
        /* margin-top: 3rem; */
        margin-right: 0rem;
        /* max-height: 100%; */
        max-width: 100%;
        object-fit: contain;
        padding: 3rem 5px;

    }
}


@media (min-width: 1400px) {
    .body h1 {
        padding-left: 1rem;
        padding-top: 1rem;
        color: magenta;
    }

    .bio {
        margin-left: 4rem;
        margin-top: 4rem;
        font-size: 4rem;
    }

    /* .sidebar h1 {
        
        padding-left: 1rem;
        padding-top: 1rem; */
    /* font-size: 1.8rem; */
    /* } */

    /* .sidebar h1 &>a {
        font-size: 1.8rem;
        color: brown;
        padding-left: 1rem;
    } */
    .landing_group .sidebar {
        width: 22%;
        height: 100vh;
        /* margin-right: 1rem; */

    }

    .sidebar>ul {

        /* margin: 1 1 1 1rem; */
        font-size: 1.2rem;
        /* height: 100%; */
        /* max-width: 100%; */
    }

    .sidebar li {
        /* font-size: 1.6rem; */
        padding: 0.25rem;
    }

    .sidebar a {
        /* font-size: 1rem; */
        /* width: 60%; */
    }

    .sidebar h1 {
        font-size: 2.0rem;
    }

    .landing_group {
        height: 100vh;
        display: flex;
        /* align-items: center; */
        /* width: 100vw; */
    }

    .landing_group .landing {
        width: 72%;

    }

    .landing {
        width: 72%;
        /* display: grid; */
        /* background-size: cover; */
    }

    .landing img {
        /* background-color: magenta; */
        position: fixed;
        float: right;
        /* padding: 2rem; */
        /* width: 78%; */
        margin-right: 0rem;
        width: calc(100vw - 22%);
        /* width: 65vw; */
        /* height: auto; */
        /* height: 100vh; */
        /* max-width: 75%; */
        object-fit: contain;
        /* align-items: flex-start; */
        /* background-size: cover; */
        /* display: flex; */
        overflow-x: hidden;
        overflow-y: hidden;
        overflow: hidden;
    }

}