body {
    /* position: absolute; */
    /* width: 100%; */
    /* display: flex; */
    /* height: 100vh; */
    /* height: 100vh; */
    /* top: 0; */
    font-family: Nunito, sans-serif;
    font-size: calc(10px + 0.390625vw);
    /* overflow: hidden; */
}

.pic {
    object-fit: scale-down;
}

.pic img {
    /* object-fit: scale-down; */
    /* max-height: 85vh; */
    width: 100vw;
}

.col a {
    justify-self: center;
}

h1 a {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: magenta;
    display: flex;
    margin-top: 0.5em;
}

.main {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slidemain {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(15, 91, 86);
}

.sidebar li {
    list-style-type: none;
}

.sidebar li {
    padding-bottom: 0em;
}

.tnails_small {
    width: 85%;
    /* height: 10%; */
    /* padding-left: 2rem; */
    /* flex-wrap: wrap; */
    align-content: center;
    display: flex;
    padding-right: 1em;
    /* flex-direction: column; */
    /* float: right; */
    /* max-height: 100vh; */
}

.tnails_small img {
    height: auto;
    width: auto;
    object-fit: contain;
    max-height: 90%;
    max-width: 90%;
    margin: 0.5em;
    border: 2px solid black;

}

.tnails_small .col {
    /* display: flex; */
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 0.25rem; */
    /* height: 90vh; */
    /* padding-right: 1rem; */
    /* padding-left: 4em; */
    /* float: right; */
}

/* .tnails {
    display: flex;
    width: 70%;
    height: 95vh;

    /* justify-content: space-evenly; */
/* flex-wrap: wrap; */

/* } */

/* .tnails .mySlides>img {
    /* .mySlides { */
/* height: auto;
width: auto;
max-height: 20%;
max-width: 90%;
margin: 1em;
border: 5px solid black; */
/* */
/* } */

/* display: grid; */
/* display: flex; */
/* width: 40%; */
/* justify-content: space-evenly; */
/* max-height: 40%; */
/* max-width: 40%; */
/* padding: 10em; 
} */

/* .tnails .mySlides {
    height: auto;
    width: auto;
    max-height: 20%;
    max-width: 50%;
    margin: 1em;
    border: 5px solid black;
} */

/* .tnails .a {
    .img {
        display: flex;
        height: auto;
        width: auto;
    }
} */

/* Slideshow container */
.tnails {
    /* display: flex; */
    width: 80%;
    height: 60vh;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    /* max-width: 50%; */
    position: relative;
    /* margin: auto; */
}

hr {
    margin: 0px;
    padding: 0px;
}

/* Hide the images by default */
.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.5rem 0.5rem;

}

.slide:first-child {
    display: block;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 8px;
    background-color: white;
    color: rgb(248, 54, 219);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, */
/* .next:hover { */
/* background-color: rgba(0, 0, 0, 0.8); */
/* } */

/* Caption text */
.text {
    color: white;
    font-size: 15px;
    padding: 1px 5px;
    position: absolute;
    /* bottom: -8px; */
    width: 100%;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */

/* .active,
.dot:hover {
    background-color: #717171;
} */

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

/* @keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */
/* ul {
    text-indent: 1em each-line;
} */

/* li {
    list-style-type: square;
} */

.sidebar {
    /* float: left; */
    /* width: 35%; */
    height: 100vh;
    /* display: flex; */
    /* width: 100%; */
    flex-direction: column;
    /* padding-right: 5px; */
    flex-wrap: nowrap;
    background-color: white;
    /* overflow: auto; */
    /* justify-content: space-around; */
    /* height: auto; */
    /* max-height: 100vh; */
    /* font-size: 100%; */
}

.sidebar ul {
    ul {
        text-indent: -1.75rem;
        list-style-type: none;
        /* font-size: 2vw; */

    }
}

.sidebar h1 {
    /* font-family: Crimson Text, serif; */
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    color: magenta;
    display: flex;
    margin-top: 0.5em;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar a {
    /* font-size: 1cap; */
    font-family: Nunito, sans-serif;
    color: rgb(15, 91, 86);
    /* list-style-type: circle; */
    /* flex-wrap: nowrap; */
}

.landing_group .sidebar {
    /* height: 100%; */


}

body .landing_group {
    display: flex;
    /* position: relative; */
    height: 100vh;
    /* width: 100%; */
    /* align-items: flex-start; */
    /* padding-bottom: 1em; */
    /* justify-content: space-between; */
    /* display: inline-block; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* margin: 20px; */
    /* flex-direction: row; */
    color: white;
    /* background-color: rebeccapurple; */
}

.landing {
    width: 100%;
    /* This is an issue */
    display: flex;
}


.landing img {
    /* width: calc(100vw - 35%); */
    /* width: 70%; */
    margin-top: auto;
    /* float: inline-start; */
    /* margin-right: 0rem; */
    /* max-height: 100%; */
    max-width: 100%;
    object-fit: contain;
    padding: 0rem 5px;
    justify-content: center;
    align-self: center;
    /* position: absolute; */
    /* object-fit: fill; */
    height: 100vh;
    background-color: magenta;
}

.sidebar a {
    font-weight: bold;
}

ul {
    /* list-style-type: circle; */
    /* color: rgb(15, 91, 86); */
    /* margin-bottom: 3px; */
    /* text-decoration: none; */
    /* font-weight: 700; */
    /* text-indent: -1em; */

}


/* ul li {
    h2 {
        font-size: 1.5rem;
    }
} */

/* .macrame a:hover { */
/* opacity: 0; */
/* background-color: yellow; */
/* } */




.indivpic {
    display: flex
}

.indivpic img {
    float: right;
    justify-content: space-around;
    display: flex;
    width: 30%;
    height: 40%;
}

a {
    color: black;
    text-decoration: none;
    /* list-style-type: circle; */
}

.bio p {
    width: 60%;
    /* font-size: 75%; */
    display: flex;
    color: green;
    justify-content: center;
    /* margin-top: 3rem; */
    padding-top: 3rem;

    /* align-content: center; */

}

.landing_group {
    .sidebar>ul {
        /* font-weight: bold; */
        /* ul li.a { */
        /* list-style-type: circle; */

    }
}

@media (max-width: 300px) {
    .body {
        /* font-size: calc(10px + 0.390625vw); */
    }

    .sidebar li {
        /* padding-left: 0rem; */
        font-size: 0.5rem;

    }

    .sidebar>ul {
        /* list-style-type: circle; */
        /* overflow: auto; */
        /* font-weight: bold; */
    }

    .landing_group>.sidebar {
        /* position: fixed; */
        overflow: auto;
        /* height: 100vh; */
        width: 75%;
        display: flex;
        /*  */
    }

    .landing>img {
        /* display: flex; */
        /* align-content: start; */
        /* position: relative; */
        /* top: 5rem; */
        vertical-align: top;
    }

    .landing_group img {

        /* width: 65%; */
        /* display: flex; */
        /* align-self: end; */
        vertical-align: top;
    }
}

@media (max-width: 450px) {

    .landing {
        display: flex;
    }

    .landing img {
        /* width: 100%; */
        /* height: auto; */
        object-fit: fill;
    }

    .sidebar>ul {
        /* font-weight: bold; */
        padding: 0px 5px 0px 20px;
        /* list-style-type: circle; */
        font-size: 10px;
        /* height: 60vh; */
        /* max-width: 100%; */
        /* text-indent: -1em; */
    }

    .sidebar li {
        font-size: 1.0rem;
        font-weight: 900;
        /* padding-bottom: 20px; */
        /* text-indent: 1em; */

    }

    /* 
    .sidebar h3 {
        font-size: 1.1rem;
    } */

    /* .sidebar li::before {
        content: "•";
        color: rgb(15, 91, 86);
    } */

    .sidebar a {
        /* font-size: 1rem; */
        width: 60%;
        /* text-indent: -1em; */
        /* font-weight: bolder; */
    }

    .landing_group h1 {
        font-size: 1.4rem;
    }

    body h1 {
        /* margin-left: 0.5rem; */
        /* margin-top: 0.5rem; */
    }

    h1 {
        &>a {
            font-size: 1.4rem;
            color: rgb(201, 22, 177);
            padding-left: 0.75rem;
        }
    }

    .main .sidebar {

        /* width: 25%; */
        /* width: 100vw; */
        max-height: 100vh;

    }

    .main .tnails_small {
        /* width: 65%; */
        /* height: 60vh; */
        /* padding-left: 2rem; */
        /* padding-bottom: -1rem; */
        /* flex-wrap: wrap; */
        display: flex;
        /* flex-direction: column; */
        /* float: right; */
        max-height: 100vh;
    }

}

@media (max-width: 768px) {


    .sidebar>ul {
        /* font-weight: bold; */
        /* padding: 0 20px; */
        list-style-type: none;
        /* font-size: calc(10px + 0.390625vw); */
        font-size: 1vw;
        /* height: 60vh; */
        /* max-width: 100%; */

    }

    .sidebar li {
        font-size: 1.0rem;
        /* text-indent: -1rem; */

    }

    .sidebar a {
        /* font-size: 1rem; */
        /* font-weight: 900; */
        width: 60%;
        /* list-style-type: circle; */
    }

    .landing_group h1 {
        /* font-size: 1.3rem; */
    }

    h1 a {
        font-family: Nunito, sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: 0rem;
        margin-left: 0.5rem;
        color: magenta;
        display: flex;
        margin-top: 0.5em;
    }


    .sidebar h1 {
        /* font-family: Rozha One, serif; */
        /* font-family: Nunito, sans-serif; */
        /* font-weight: 700; */
        /* font-size: 1.3rem; */
        margin-bottom: 5px;
        margin-left: 0.5rem;
        color: magenta;
        display: flex;
    }

    .sidebar h3 {
        font-size: 1.2rem;
    }

    .main .sidebar {

        /* width: 30%; */
        max-height: 100vh;
        /* font-size: 0.25rem; */

    }

    .main .tnails_small {
        /* width: 65%; */
        /* height: 60vh; */
        /* padding: 0rem 1rem; */
        overflow: hidden;
        justify-items: center;
        /* padding-bottom: -1rem; */
        /* flex-wrap: wrap; */
        display: flex;
        /* flex-direction: column; */
        /* float: right; */
        /* max-height: 100vh; */
    }

    .slide {
        display: none;
        position: absolute;
        /* width: 100%; */
        /* height: 100%; */
    }


    .landing_group .sidebar {
        object-fit: contain;
    }

    .landing_group {
        /* width: 75%; */
        /* display: flex; */
        /* align-items: start; */
    }

    .landing {
        background-color: magenta;
        height: 100vh;
        /* align-items: start; */
        padding: 3px;
        /* display: inline-block; */
    }

    .landing img {

        /* float: top; */
        /* width: 100%; */
        /* margin-top: 3rem; */
        margin-right: 0rem;
        /* max-height: 100%; */
        max-width: 100%;
        object-fit: contain;
        padding: 3rem 5px;
        /* vertical-align: top; */
    }
}



@media (min-width: 1400px) {
    .sidebar h1 {
        font-family: Nunito, sans-serif;
        padding-left: 1rem;
        padding-top: 1rem;
        color: magenta;
    }

    .bio {
        margin-left: 4rem;
        margin-top: 4rem;
        font-size: 4rem;
    }

    /* .sidebar h1 {
        
        padding-left: 1rem;
        padding-top: 1rem; */
    /* font-size: 1.8rem; */
    /* } */

    /* .sidebar h1 &>a {
        font-size: 1.8rem;
        color: brown;
        padding-left: 1rem;
    } */
    .landing_group .sidebar {
        /* width: 22%; */
        height: 100vh;
        /* margin-right: 1rem; */

    }

    ul>a {
        font-weight: bold;
    }

    .sidebar>ul {

        /* margin: 1 1 1 1rem; */
        font-size: 1.2rem;
        list-style-type: none;

        /* height: 100%; */
        /* max-width: 100%; */
    }


    .sidebar li {
        /* font-size: 1.6rem; */
        padding: 0.25rem;
    }

    .sidebar a {
        /* font-size: 1rem; */
        /* width: 60%; */
    }

    .sidebar h1 {
        font-size: 2.0rem;
    }

    .landing_group {
        height: 100vh;
        display: flex;
        /* align-items: center; */
        /* width: 100vw; */
    }

    .landing_group .landing {
        /* width: 72%; */

    }

    .landing {
        /* width: 72%; */
        background-color: magenta;
        height: 100vh;
        /* align-items: start; */
        /* padding: 3px; */
        display: flex;
        /* display: grid; */
        /* background-size: cover; */
    }

    .landing img {
        /* background-color: magenta; */
        position: relative;
        /* float: top; */
        /* padding: 3rem 5px; */
        width: 100%;
        /* margin-right: 0rem; */
        /* width: calc(100vw - 22%); */
        /* width: 65vw; */
        /* height: auto; */
        /* height: 100vh; */
        /* max-width: 75%; */
        object-fit: contain;
        /* align-items: flex-start; */
        /* background-size: cover; */
        /* display: flex; */
        overflow-x: hidden;
        overflow-y: hidden;
        overflow: hidden;
    }

}