<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Alex Schutz: Central Il</title>
</head>

<body>
    <h1><a href="/">Alex Schutz</a></h1>
    <hr>
    <div class="slidemain">
        <div class="sidebar">
            <ul>
                <li>
                    <h3><a href="/work">Work</a></h3>
                </li>
                <ul>
                    <li><a href="/work/macrame_hangings">Macrame hangings</a></li>
                    <li><a href="/work/objects_for_home">Objects for the home</a></li>
                    <li><a style="text-shadow: yellow 2px 2px" href="/work/central_illinois">Central Illinois</a></li>
                    <li><a href="/work/rooms">Rooms</a></li>
                    <li><a href="/work/circling_bug">Circling Bug</a></li>
                    <li><a href="/work/woven_panels">Woven Panels</a></li>
                    <li><a href="/work/ice_cream_truck">Ice Cream Truck</a></li>
                    <li><a href="/work/every_cat_ive_ever_slept_with">Every Cat I've Ever Slept With</a></li>
                    <li><a href="/work/glass">Glass</a></li>
                    <li><a href="/work/older_work">Older Work</a></li>
                    <li style="padding-bottom: 10px;"><a href="/work/furniture">Furniture</a></li>

                </ul>
                <li>
                    <h3><a href="/about">About</a></h3>
                </li>
            </ul>
        </div>
        <div class="tnails">
            <div class="slide">
                <div class="numbertext">1 / 4</div>
                <a href="/work/central_il/1">
                    <img src="/static/img/central_il/_MG_9267.JPG"
                        alt="floor mosaic of poly-vinyl tiles to form a cloudscape">
                </a>
                <div class="text">poly-vinyl tiles</div>
            </div>
            <div class="slide">
                <div class="numbertext">2 / 4</div>
                <a href="/work/central_il/2">
                    <img src="/static/img/central_il/_MG_9827.JPG"
                        alt="floor mosaic of poly-vinyl tiles to form a cloudscape">
                </a>
                <div class="text">poly-vinyl tiles</div>
            </div>
            <div class="slide">
                <div class="numbertext">3 / 4</div>
                <a href="/work/central_il/3">
                    <img src="/static/img/central_il/_MG_9828.JPG"
                        alt="floor mosaic of poly-vinyl tiles to form a cloudscape">
                </a>
                <div class="text">poly-vinyl tiles</div>
            </div>
            <div class="slide">
                <div class="numbertext">4 / 4</div>
                <a href="/work/central_il/4">
                    <img src="/static/img/central_il/clouds-cropped.jpg"
                        alt="floor mosaic of poly-vinyl tiles to form a cloudscape">
                </a>
                <div class="text">poly-vinyl tiles</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="prevSlide()">&#10094;</a>
            <a class="next" onclick="nextSlide()">&#10095;</a>
        </div>
        <br>


    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/slideshow.js"></script>




</body>

</html>